html
  head
    block head
      script(type='text/javascript')
        var _address = '#{address}';
        var _port = '#{port}';
      - each script in scripts
        script(src=script, type='text/javascript')
      - each style in styles
        link(href=style, rel='stylesheet', type='text/css')
  body    
    .container-fluid
      .navbar
        .navbar-inner
          a.brand(href='#') you-R-here
          block header
      .row-fluid
        .span10
          block items
        .span2
          section#users
            h3 users
            a.right-text(href='https://en.gravatar.com/') add your pic
      .navbar.footer
        .navbar-inner
          ul.nav
            li
              a(href='#')=version
            li
              //q: assume one day this will be role?
              a(href='#') organizer
          div.pull-right
            a(href='http://nodejs.org', target='_blank')
              img(src='images/nodejs-dark.png', alt='node.js')
            a(href='https://trello.com/board/friday-project-ideas/4f446503f7aabce3045086a4', target='_blank')
              img(src='images/CTLabsLogo_64x64.png', alt='Critical Labs')
  div.hidden
    //p#hola
    div#login
      label(for='email')
      input#email(type='text')