html
  head
    block head
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0').
      script(type='text/javascript').
        var _address = '#{address}';
        var _port = '#{port}';
      - each script in scripts
        script(src=script, type='text/javascript')
      - each style in styles
        link(href=style, rel='stylesheet', type='text/css')
  body    
    .container-fluid
      .navbar
        .navbar-inner
          a.brand(href='#') #{title}
          block header
      .row-fluid
        .span10
          block header-info
            div.hidden.hide-for-login.pull-left1.header-info.header-info-org
              span.header-info1.orgname.pull-left
              span.header-info1.dateRange.pull-left
            div.hidden.hide-for-login.pull-right.header-info.header-info-counts1#header-info
              .priority-group.pull-right#priorityId
              span.pull-right.impediment#header-info-impediments
                | Impediments:
                span.count.header-info-impediments
              span.pull-right.bug#header-info-bugs
                | Bugs:
                span.count.header-info-bugs
              span.pull-right.userstory#header-info-stories
                | User Stories:
                span.count.header-info-stories
      .row-fluid
        .span12
          block items
          block emailRequired
            div.hidden#emailRequired
              h3 login required
              p
                | Whoa! You're not logged in. Click the fancy button to join the party!
                form
                  input#loginAgain.btn.btn-primary(type='submit', value='login')
      .row-fluid.hidden
        .span2.hidden
          section#users
            h3 users
            a.right-text(href='https://en.gravatar.com/') add your pic
      .navbar2.footer
        .navbar-inner
          div.pull-left
            p.version 
              =version
          div.pull-right
            a(href='http://nodejs.org', target='_blank')
              img(src='/images/nodejs-dark.png', alt='node.js')
            a(href='https://trello.com/board/friday-project-ideas/4f446503f7aabce3045086a4', target='_blank')
              img(src='/images/CTLabsLogo_64x64.png', alt='Critical Labs')
  div.hidden
    div#login
      label(for='email')
      input#email(type='text')
      label.hidden.error#emailMsg
        | Whoops! That email address is already in use
